.menu {
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;

  &:hover {
    background: #f2f2f2;
  }
}

.menu-icon {
  background-image: svg-load('./menu.svg');
  width: 3.5px;
  height: 14px;
}
