.container {
  min-height: 36px;
  outline: none;
  border: none;
  background: white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  padding: 0 7px 0 0;
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgba(black, 0.9);
}

.disabled {
  pointer-events: none;
}
