<form class="task-popup" data-hook="form">
  <div class="popup__inner">
    <div class="row row--align-center">
      <div class="popup__title row--grow">Add New Task</div>
      <div id="tw-form-{{cid}}-account" data-hook="select-account"></div>
    </div>

    <div class="popup__errors" data-hook="errors"></div>

    <div class="popup__form form">
      <div class="row row--align-center">
        <div class="column">
          <div data-hook="input-name"></div>
        </div>
      </div>

      <div class="row row--align-center">
        <div class="column">
          <div data-hook="select-user"></div>
          <div class='arrow arrow--down' data-hook='arrow'></div>
        </div>
      </div>

      <div class="row row--align-center">
        <div class="column column--pad">
          <div data-hook="select-project"></div>
          <div class='arrow arrow--down' data-hook='arrow'></div>
        </div>

        <div class="column">
          <div data-hook="input-estimate"></div>
        </div>
      </div>

      <div class="row row--align-center">
        <div class="column column--pad">
          <div data-hook="input-start-time"></div>
          <div class='arrow arrow--down' data-hook='arrow'></div>
        </div>

        <div class="column">
          <div data-hook="input-end-time"></div>
          <div class='arrow arrow--down' data-hook='arrow'></div>
        </div>
      </div>

      <div class="row row--align-center">
        <div class="column column--pad">
          <div data-hook="input-start-date"></div>
          <div class='arrow arrow--down' data-hook='arrow'></div>
        </div>

        <div class="column">
          <div data-hook="input-end-date"></div>
          <div class='arrow arrow--down' data-hook='arrow'></div>
        </div>
      </div>
    </div>
  </div>

  <div class="popup__buttons">
    <button type="submit" class="button button--submit popup__button" data-hook="button-submit" tabindex="10">Add</button>
    <button type="button" class="button button--cancel popup__button" data-hook="button-cancel" tabindex="11">Cancel</button>
  </div>

  <div class="task-popup__overlay" data-hook="done-overlay">
    <div class="task-popup__done">Done!</div>
  </div>
</form>
