<div class="searchable-select-dropdown">
  <div class="row searchable-select-dropdown__remove-container" data-hook="remove" data-value="" data-select-row>
    <div class="searchable-select-dropdown__remove">No entities matched</div>
  </div>

  <div class="row-group row-group--separated searchable-select-dropdown__items">
    {{#each suggestions}}
      {{{tmpl}}}
    {{/each}}
  </div>
</div>
