<div class='searchable-select-field__container'>
  <div class="row row--align-center searchable-select-field--controls">
    <div class="searchable-select-field--label control-group__label">{{label}}:</div>
    <div class="searchable-select-field" data-hook="searchable-select-field">
      <input
        class="searchable-select-field__input"
        type="text"
        autocomplete="off"
        name="name"
        value="{{value}}">
    </div>
  </div>
  <div class="searchable-select-field--divider"></div>
</div>
