<div class="options">
  {{#if isAuthenticated }}
  <button data-hook="button-logout">Sign out</button>
  <p>Sign out of the current Teamweek account.</p>
  {{else}}
  <p>Sign in to Teamweek by clicking on the button on any page.</p>
  {{/if}}

  <div data-hook="subview-domains"></div>
</div>
