.container {
  width: 462px;

  @media screen and (max-width: $task-form-small-desktop-breakpoint) {
    width: 330px;
  }
}

.heading {
  height: 32px;
  font-size: 10px;
  padding-left: 8px;
}

.input {
  background: #f2f2f2;
  width: 100%;
  height: 32px;
  border: 1px solid #e6e6e6;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.input,
.tags {
  padding: 0 8px;
}

.tags {
  margin-bottom: 4px;
  height: 28px;

  &:hover,
  &.active {
    background: #f2f2f2;
  }
}

.tag {
  padding: 0 4px;
  border-radius: 2px;
  height: 20px;
  font-size: 13px;
}

.done {
  background: #0ce89a;
}

.undone {
  background: #fccb00;
}
