.container {
  width: 462px;

  @media screen and (max-width: $task-form-small-desktop-breakpoint) {
    width: 330px;
  }
}

.input {
  padding: 6px 8px;
  color: black;
  border: none;
  height: 32px;
  font-size: 13px;
  width: 200px;

  &::placeholder {
    color: #a6a6a6;
  }
}

.heading {
  height: 32px;
  font-size: 10px;
  padding-left: 8px;
}

.add {
  box-sizing: border-box;
  width: 100%;
  background: $color-new-link;
  color: white;
  height: 28px;
  font-size: 13px;
  padding: 0 8px;
  margin-bottom: 8px;
}

.suggestions {
  overflow-y: auto;
  max-height: 191px;
  padding-bottom: 8px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
