.container {
  padding: 8px;
}

.input {
  height: 28px;
  border-radius: 2px;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 8px;
  font-size: 13px;

  &::placeholder {
    color: var(--color-contrast-7);
  }
}
