@import '~src/popup/task/content/field.module';

.icon {
  background-image: svg-load('./icons/tags.svg', fill=$color-new-gray);
}

.tags {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.heightauto {
  height: auto !important;
}
