.container {
  height: 28px;
  font-size: 13px;
  padding: 0 8px;

  &:hover {
    background: #f2f2f2;
  }

  &:global(.active) {
    background-color: #f2f2f2;
  }
}

.icon,
.userpic {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 8px;
}

.emoji {
  min-width: 12px;
  margin-right: 4px;

  &:empty::before {
    background-color: $color-fill-medium;
    border-radius: 4px;
    content: '';
    display: block;
    height: 12px;
    margin-right: 4px;
    width: 12px;
  }
}

.userpic {
  display: block;
}

.label {
  box-sizing: border-box;
  width: 100%;
  word-wrap: break-word;
}

.initials {
  font-size: 7px !important; // this module appears earlier than .profile-picture__initials
}
