<div class="timepicker">
  <div class="timepicker__arrow"></div>
  <div class="timepicker__content">
    {{#each times}}
    <div class="timepicker__item" data-time="{{time}}">{{text}}</div>
    {{/each}}
  </div>
</div>
