<div class="popup">
  <div class="popup__title">Sign in to Teamweek</div>

  <div class="popup__form form">
    <div class="form__row">
      <div class="form__label">
        <label for="tw-form-{{cid}}-email">E-mail</label>
      </div>
      <div class="form__control">
        <input type="email" name="name" id="tw-form-{{cid}}-email"
          placeholder="Enter email..." data-hook="input-email">
      </div>
    </div>

    <div class="form__row">
      <div class="form__label">
        <label for="tw-form-{{cid}}-password">Password</label>
      </div>
      <div class="form__control">
        <input type="password" name="password" id="tw-form-{{cid}}-password"
          placeholder="********" data-hook="input-password">
      </div>
    </div>
  </div>

  <div class="popup__buttons">
    <a href="#" class="button button--submit" data-hook="button-sign-in">Sign in</a>
    <a href="#" class="button button--cancel" data-hook="button-cancel">Cancel</a>
  </div>
</div>