<div class="auth-popup">
  <div class="popup__title">Sign in to Teamweek</div>

  <div class="popup__copy">
    You need to sign in to Teamweek before continuing.
  </div>

  <div class="popup__buttons">
    <a href="#" class="button button--submit" data-hook="button-sign-in">Sign in</a>
    <a href="#" class="button button--cancel" data-hook="button-cancel">Cancel</a>
  </div>
</div>