<div class="control-group">
  <div class="row row--align-center control-group__control" data-hook='control'>
    <label class="control-group__label" data-hook="label"></label>
    <input class="control-group__input" data-hook="input">
  </div>
  <div class="row row--align-center spacing-2--inner-top font-tiny text--color-new-error" data-hook="error-text">
  </div>
  <div class="row row--align-center spacing-2--inner-top font-tiny text--color-new-link" data-hook="info-text">
  </div>
</div>
