@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url('/fonts/Inter-Light-BETA.woff2') format('woff2'),
    url('/fonts/Inter-Light-BETA.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400; // normal
  font-display: auto;
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('/fonts/Inter-Medium.woff2') format('woff2'),
    url('/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700; // bold
  font-display: auto;
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'GT Haptik';
  src: url('/fonts/gt-haptik/GT-Haptik-Bold.woff2') format('woff2'),
    url('/fonts/gt-haptik/GT-Haptik-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: 'GT Haptik';
  src: url('/fonts/gt-haptik/GT-Haptik-Regular.woff2') format('woff2'),
    url('/fonts/gt-haptik/GT-Haptik-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'GT Haptik';
  src: url('/fonts/gt-haptik/GT-Haptik-Medium-Rotalic-2.eot');
  src: url('/fonts/gt-haptik/GT-Haptik-Medium-Rotalic-2.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/gt-haptik/GT-Haptik-Medium-Rotalic-2.woff2') format('woff2'),
    url('/fonts/gt-haptik/GT-Haptik-Medium-Rotalic-2.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
