@use "sass:math";

.row {
  display: flex;
  box-sizing: border-box;
}

.row--grow {
  flex-grow: 1;
}

.row--justify-left {
  justify-content: flex-start;
}

.row--justify-right {
  justify-content: flex-end;
}

.row--justify-center {
  justify-content: center;
}

.row--justify-space {
  justify-content: space-between;
}

.row--align-center {
  align-items: center;
}

.row--align-baseline {
  align-items: baseline;
}

.row--align-stretch {
  align-items: stretch;
}

.row--align-end {
  align-items: flex-end;
}

.row--align-start {
  align-items: flex-start;
}

.row--vertical {
  flex-direction: column;
}

.row--size-tall {
  height: $spacing * 13;
}
.row--size-medium {
  height: $spacing * 9;
}
.row--size-short {
  height: $spacing * 8;
}
.row--size-hr {
  height: $spacing * 2;
}
.row--size-5 {
  height: $spacing * 5;
}
.row--size-7 {
  height: $spacing * 7;
}
.row--size-11 {
  height: $spacing * 11;
}
.row--size-14 {
  height: $spacing * 14;
}

.row--height-54 {
  height: 54px;
}

.row--wrap {
  flex-wrap: wrap;
}

.row-group--padded > .row {
  padding-left: $spacing * 3;
  padding-right: $spacing;
}

.column {
  display: block;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
}

.column--stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

.column--grow {
  flex-grow: 1;
}

.column--grow-2 {
  flex-grow: 2;
}

.column--shrink {
  flex-shrink: 1;
}

.column--no-shrink {
  flex-shrink: 0;
}

.column-equal {
  flex-grow: 1;
  flex-basis: 0;
}

@for $i from 1 through 12 {
  .column-#{$i} {
    width: 100% * math.div($i, 12);
  }

  .offset-#{$i} {
    margin-left: 100% * math.div($i, 12);
  }
}

@for $i from 1 through 40 {
  .spacing-#{$i}--outer {
    margin: $i * $spacing-unit;
  }
  .spacing-#{$i}--outer-horizontal {
    margin-left: $i * $spacing-unit;
    margin-right: $i * $spacing-unit;
  }
  .spacing-#{$i}--outer-vertical {
    margin-top: $i * $spacing-unit;
    margin-bottom: $i * $spacing-unit;
  }
  .spacing-#{$i}--outer-left {
    margin-left: $i * $spacing-unit;
  }
  .spacing-#{$i}--outer-right {
    margin-right: $i * $spacing-unit;
  }
  .spacing-#{$i}--outer-top {
    margin-top: $i * $spacing-unit;
  }
  .spacing-#{$i}--outer-bottom {
    margin-bottom: $i * $spacing-unit;
  }

  .spacing-#{$i}--inner {
    padding: $i * $spacing-unit;
  }
  .spacing-#{$i}--inner-horizontal {
    padding-left: $i * $spacing-unit;
    padding-right: $i * $spacing-unit;
  }
  .spacing-#{$i}--inner-vertical {
    padding-top: $i * $spacing-unit;
    padding-bottom: $i * $spacing-unit;
  }
  .spacing-#{$i}--inner-left {
    padding-left: $i * $spacing-unit;
  }
  .spacing-#{$i}--inner-right {
    padding-right: $i * $spacing-unit;
  }
  .spacing-#{$i}--inner-top {
    padding-top: $i * $spacing-unit;
  }
  .spacing-#{$i}--inner-bottom {
    padding-bottom: $i * $spacing-unit;
  }

  .spacing-#{$i}--inner,
  .spacing-#{$i}--inner-horizontal,
  .spacing-#{$i}--inner-vertical,
  .spacing-#{$i}--inner-left,
  .spacing-#{$i}--inner-right,
  .spacing-#{$i}--inner-top,
  .spacing-#{$i}--inner-bottom {
    box-sizing: border-box;
  }
}

.spacing-auto--outer-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.spacing-auto--outer-left {
  margin-left: auto;
}
.spacing-auto--outer-right {
  margin-right: auto;
}

.space-x-4 {
  & > *:not(:first-child) {
    margin-left: 4px;
  }
}

.space-x-8 {
  & > *:not(:first-child) {
    margin-left: 8px;
  }
}

.space-y-4 {
  & > *:not(:first-child) {
    margin-top: 4px;
  }
}

.space-y-8 {
  & > *:not(:first-child) {
    margin-top: 8px;
  }
}

.relative {
  position: relative;
}

hr {
  border: none;
  border-top: $color-border-light solid 1px;
  margin: 0;
}
