@import '~src/popup/task/content/field.module';

.iconsvg {
  background-image: svg-load('./icon.svg', fill=$color-new-gray);
}

.tag {
  padding: 0 4px;
  border-radius: 2px;
  height: 20px;
}

.done {
  background: #0ce89a;
}

.undone {
  background: #fccb00;
}
