<select name="account" class="account-select" data-hook="select" tabindex="2">
  {{#each sortedAccounts.models}}
  <option value="{{id}}" {{is_selected id ../value}}>{{name}}</option>
  {{/each}}
</select>
