<div class="popup__account">
  <div data-hook='menu' class='account-field-popup__menu'>
    <div class='account-field-popup__menu-icon'></div>
  </div>

  <div class="account-field-popup" data-hook="popup">
    <div class="account-field-popup__arrow"></div>
    <div class='account-field-popup__item account-field-popup__workspace-label row--justify-space'>
      <div>
        <span class='account-field-popup--color-muted'>Workspace:</span>
        <span data-hook='workspace'></span>
      </div>
      <div>
        <span class='account-field-popup--color-muted account-field-popup__change-workspace' data-hook="change-workspace">Change</span>
      </div>
    </div>

    <div class='account-field-popup__workspaces' data-hook='workspaces'>
      {{{accountsString}}}
    </div>

    <div class='account-field-popup__item account-field-popup__signout' data-hook='signout'>
      <span class='account-field-popup__signout-icon'></span> Sign Out
    </div>
  </div>
</div>
