<form class="auth-popup" data-hook="form" autocomplete="off">
  <div class="popup__inner">
    <div class="row row--align-center">
      <div class="popup__title row--grow">Login to Toggl Plan</div>
    </div>

    <div class="popup__errors" data-hook="errors"></div>

    <div class="popup__form form">
      <button type="button" class="button button--submit popup__button" data-hook="button-signin" tabindex="3">OAuth Sign In</button>
    <button type="button" class="button button--cancel popup__button" data-hook="button-cancel" tabindex="4">Cancel</button>
  </div>
</form>
