<form class="auth-popup" data-hook="form" autocomplete="off">
  <div class="popup__inner">
    <div class="popup__errors" data-hook="errors"></div>

    <div class="popup__form form">
      <img class="plan-logo" src="/images/plan_logo.svg" />
      <img class="auth-image" src="/images/auth_illustration.png" />
      <p class="auth-subtitle">Nearly there!</p>
      <p>Click the button below to log in and start planning</p>
      <button type="button" class="button button--submit popup__button auth-button" data-hook="button-signin" tabindex="3">Log In</button>
      <button type="button" class="button button--cancel popup__button auth-button" data-hook="button-signup" tabindex="4">Sign up instead</button>
    </div>
</form>
</div>
