<div class="error">
  <div class="row--center">
    <div class="error__image"></div>
  </div>

  <div class="error__message">
    {{#if message}}
      <p>{{message}}</p>
    {{/if}}

    {{#if contact_us}}
      <p>
        Please contact us on <a href="mailto:support@plan.toggl.com">support@plan.toggl.com</a><br>
        describing how you got this error.
      </p>
    {{/if}}
  </div>

  <a href="#" data-hook="button-back">Try Again</a>
</div>
