<div class="custom-domains">
  <h3>Custom domains</h3>

  <table class="domains-table">
    <thead>
      <tr class="domains-table__header">
        <th>Domain</th>
        <th>Service</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody></tbody>
    <tfoot></tfoot>
  </table>
</div>