<tr class="domains-table__footer">
  <td class="domains-table__domain">
    <input type="text" name="domain" data-hook="domain" placeholder="Domain...">
  </td>
  <td class="domains-table__service">
    <select name="service" data-hook="service">
      <option disabled selected>Service...</option>
      {{#each services}}
      <option value="{{@key}}">{{this}}</option>
      {{/each}}
    </select>
  </td>
  <td class="domains-table__action">
    <button data-hook="create">Add</button>
  </td>
</tr>
