<tr class="domains-table__item">
  <td class="domains-table__domain" data-hook="domain"></td>
  <td class="domains-table__service" data-hook="service"></td>
  <td class="domains-table__action">
    <button data-hook="remove">Remove</button>
  </td>
</tr>
